body{
    width: 80%;
    margin: auto;
}
.header{
    
    margin: auto;
    display: block;
}


legend{
    text-align: center;
}
section{
    width: 95%;
    margin: auto;
    text-align: center;
}
#hrst{
    width: 800px;
}
hr{
    width: 100px;
}
ul{
    list-style: none;
}
